@media screen and (max-width: 325px) {
  .section {
    padding-inline: 1rem;
  }

  .header {
    padding-top: 17px;
    padding-bottom: 15px;
  }

  .header__wrapper {
    gap: 16px;
  }

  .header__nav {
    width: 100%;
  }

  .header__nav__burger-btn {
    border: none;
    padding-inline: 0;
    width: 22px;
  }
  .header__nav__burger-btn[data-state="closed"] .burger-line,
  .header__nav__burger-btn::after,
  .header__nav__burger-btn::before {
    height: 2px;
    width: 100%;
  }

  .header__nav__burger-btn::before {
    bottom: 3px;
    width: 16px;
    left: 0;
  }
  .header__nav__burger-btn::after {
    top: 2px;
    width: 100%;
    left: 0;
  }

  .header__nav__burger-btn[data-state="opened"]:after {
    transform: rotate(-135deg) translateY(-7px) translateX(-6px);
    width: 1.75rem;
  }
  .header__nav__burger-btn[data-state="opened"]:before {
    transform: rotate(135deg) translateY(6px) translateX(-6px);
    width: 1.75rem;
  }

  .header__nav__logo {
    font-size: 1.225rem;
    font-weight: 600;
    margin-inline: auto;
    letter-spacing: 2.1px;
    line-height: 1;
    width: 100%;
    text-align: center;
  }

  .header__search-input {
    display: none;
  }

  .header__search {
    width: auto;
    background: none;
    padding: 0px;
    margin: 0;
  }

  .header__search-logo {
    opacity: 1;
  }

  .header__menu {
    display: none;
  }
}
